body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: 	#00FFFF;
  background-image: url('https://i.pinimg.com/736x/e3/df/7e/e3df7e00d1a9f89d0529f846a38d19ce.jpg');
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
}

.container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #87CEFA;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #00CED1;
}

button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: 	#40E0D0;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #AFEEEE;
}
